html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}


/* cabeçalho*/

header {
    background-color: #2083FA;
    color: black;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

a {
    text-decoration: none;
    color: white;
}

#logo {
    width: 53px;
    position: relative;
    top: 5px;
    margin-left: 5%;
}

#menu {
    float: right;
    margin-left: 5%;
    list-style: none;
    margin-top: 0px;
}

#divmenu {
    transform: translateY(-56px);
}

li {
    float: left;
    padding: 22 15 22 15;
}

li:hover {
    background-color: #1DD300;
}

h3 {
    text-align: center;
    font-size: 25px;
    padding: 4%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
}


/* capa fundo*/

#imagem_fundo {
    background: url(img/fundo_cor.jpg);
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: cover;
}

#titulo {
    color: white;
    padding-top: 18%;
    font-size: 34px;
    line-height: 0.9;
    text-shadow: 3px 3px 3px black;
}

#botao {
    color: black;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    font-family: Helvetica, sans-serif;
}

#botao:hover {
    background-color: #1DD300;
}

#subtitulo {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    margin-left: 20%;
    margin-right: 20%;
    text-shadow: 3px 2PX 3px white;
}

#video {
    padding: 20% 0 20% 0;
}

.icone {
    width: 80px;
    border-radius: 50px;
}

section {
    padding: 60px 0 20px 0;
    width: 100%;
    margin: 0 auto;
    float: left;
}

.destaque {
    background-color: #FFFC3D;
}

#projeto {
    padding: 20px;
    float: left;
    background-color: greenyellow;
}

#selecao {
    padding: 20px;
}


/* divisão colunas*/

.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
}

.coluna:hover>.icone {
    background: yellow;
}

.dois {
    width: 40%;
}

.tres {
    width: 29%;
    padding: 0 2%;
}

.quatro {
    width: 15%;
}


/* alinhamento do texto*/

.justificado {
    text-align: justify;
}

.centralizado {
    text-align: center;
}


/* imagens*/

.ecoimages {
    width: 90%;
    height: 45%;
}

#personalizado {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}


/* rodapé*/

footer {
    background-color: #2083FA;
    float: left;
    width: 100%;
    height: 30%;
    color: white;
}


/* Responsividade*/

@media all and ( max-width:760px) {
    #menu {
        visibility: hidden;
    }
    .coluna,
    .dois,
    .tres,
    .quatro {
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }
    #divlogo {
        margin-left: 0px;
        position: relative;
        text-align: center;
        width: 100%;
    }
    header #logo {
        margin-left: 0px;
        position: relative;
        text-align: center;
    }
    #imagem_fundo {
        width: 100%;
        height: 100%;
        text-align: center;
    }
}